.jumbotron {
    background-image: url(../../assets/images/footer.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-dark{
    background-color: #121212 !important;
}